*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    height: 300px;
    background-image:url("../assets/images/angel.jpg") ;
    background-size: cover;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.header h1{
    color: rgba(255, 255, 255, 0.725);
    font-size: 70px;
}

#titulo{
    color: white;
}

section{
    align-items: column;
}

.bloque1 {

}